$def with(ofertas)
<h3>
    <a href="/ofertas">ofertas</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>ofertas</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in ofertas:
        <tr>
            <td><a href='/ofertas/view/$item.id_oferta'>$item.evento</a></td>
            <td><a href='/ofertas/edit/$item.id_oferta'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/ofertas/delete/$item.id_oferta'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>