$def with(evento, message)
<h3>
    <a href="/evento">evento</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_evento" id="id_evento" value="$evento.id_evento" />

    <div class="form-group">
    <label for="titulo">titulo</label>
    <input required id="titulo" type="text" class="form-control" name="titulo" size="30" value="$evento.titulo"/>
</div><div class="form-group">
    <label for="descripcion">descripcion</label>
    <input required id="descripcion" type="text" class="form-control" name="descripcion" size="30" value="$evento.descripcion"/>
</div><div class="form-group">
    <label for="fecha">fecha</label>
    <input required id="fecha" type="text" class="form-control" name="fecha" size="30" value="$evento.fecha"/>
</div><div class="form-group">
    <label for="hora">hora</label>
    <input required id="hora" type="text" class="form-control" name="hora" size="30" value="$evento.hora"/>
</div><div class="form-group">
    <label for="ubicacion">ubicacion</label>
    <input required id="ubicacion" type="text" class="form-control" name="ubicacion" size="30" value="$evento.ubicacion"/>
</div><div class="form-group">
    <label for="organizador">organizador</label>
    <input required id="organizador" type="text" class="form-control" name="organizador" size="30" value="$evento.organizador"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>