$def with(organizadores)
<h3>
    <a href="/organizadores">organizadores</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>organizadores</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in organizadores:
        <tr>
            <td><a href='/organizadores/view/$item.id_organizador'>$item.nombre</a></td>
            <td><a href='/organizadores/edit/$item.id_organizador'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/organizadores/delete/$item.id_organizador'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>